<ion-header>
  <ion-navbar>
    <ion-title>Nouveau Traitement</ion-title>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true" padding>
  <ion-grid>
    <ion-slides pager=true paginationType="progress">
      <!-- PREMIERE PARTIE DU FORMULAIRE - INFOS GENERALES -->
      <ion-slide id="part1">
        <ion-item class="first">
          <ion-label floating>Nom du produit</ion-label>
          <ion-input type="text" [(ngModel)]="traitement.produit"></ion-input>
        </ion-item>
        <small class="error" *ngIf="!traitement.nom && submit">Veuillez entrer un produit (ex: androtardyl...)</small>
        <ion-item>
          <ion-label floating>Dosage</ion-label>
          <ion-input type="text" [(ngModel)]="traitement.dosage"></ion-input>
        </ion-item>
        <small class="error" *ngIf="!traitement.dosage && submit">Veuillez entrer un dosage (ex: 2 comprimés, 0.5mL...)</small>
        <ion-item>
          <ion-label floating>Hormone</ion-label>
          <ion-select [(ngModel)]="traitement.hormone">
            <ion-option *ngFor="let hormone of listHormones" [value]="hormone">{{hormone}}</ion-option>
          </ion-select>
        </ion-item>
        <small class="error" *ngIf="!traitement.hormone && submit">Veuillez choisir une hormone</small>
        <ion-row class="row_item">
          <ion-col col-10>
            <ion-item>
              <ion-label class="black">Fréquence : tous les </ion-label>
              <ion-input type="number" [(ngModel)]="traitement.frequence"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <ion-label>jours</ion-label>
          </ion-col>
        </ion-row>
        <small class="error" *ngIf="!traitement.frequence && submit">Veuillez entrer un nombre</small>
        <ion-item class="last">
          <ion-label floating>Type</ion-label>
          <ion-select [(ngModel)]="traitement.type">
            <ion-option *ngFor="let type of listTypes" [value]="type">{{type}}</ion-option>
          </ion-select>
        </ion-item>
        <button ion-button full class="bouton" (click)="submitForm(1)">Suivant</button>
      </ion-slide>

      <!-- DEUXIEME PARTIE DU FORMULAIRE - ZONES -->
      <ion-slide id="part2">
        <h2 class="first">Zones d'application</h2>
        <p *ngIf="!traitement.zones || traitement.zones.length<=0">
          <small>Entrez ici des zones d'application du traitement, si c'est pertinent pour vous. Sinon, cliquez sur "suivant".</small>
          <br/>
          <small>Vous pourrez ajouter des zones par la suite.</small>
        </p>
        <!-- LISTE DES ZONES -->
        <ion-list *ngIf="traitement.zones && traitement.zones.length>0">
          <ion-list-header>
            Zones enregistrées
          </ion-list-header>
          <ion-item *ngFor="let zone of traitement.zones">
            {{zone.nom}} {{zone.cote ? zone.cote : ''}}{{zone.cote=="droit" ? '(e)' : ''}}
            <ion-icon name="trash" color="danger" item-right (click)="deleteZone(zone)"></ion-icon>
          </ion-item>
        </ion-list>

        <!-- AJOUTER UNE ZONE -->
        <ion-item>
          <ion-label>Zone</ion-label>
          <ion-select [(ngModel)]="new_zone">
            <ion-option *ngFor="let zone of listZones" [value]="zone">{{zone}}</ion-option>
            <!--             <ion-option *ngFor="let zone of zones_suppl" [value]="zone">{{zone}}</ion-option>
 -->
            <ion-option value="add">Ajouter...</ion-option>
          </ion-select>
        </ion-item>
        <small class="error" *ngIf="submit && !new_zone">Veuillez choisir une zone</small>
        <ion-item *ngIf="new_zone=='add'">
          <ion-label floating>Entrez la nouvelle zone</ion-label>
          <ion-input type="text" [(ngModel)]="new_zone_add"></ion-input>
        </ion-item>
        <small class="error" *ngIf="submit && new_zone=='add' && !new_zone_add">Veuillez entrer le nom de la zone</small>

        <ion-item>
          <ion-label>Côté</ion-label>
          <ion-select [(ngModel)]="new_cote">
            <ion-option value='' selected>Aucun</ion-option>
            <ion-option value="gauche">Gauche</ion-option>
            <ion-option value="droit">Droit</ion-option>
          </ion-select>
        </ion-item>
        <button ion-button round (click)="addZone()" id="add_button" class="last">
          <ion-icon name="add"></ion-icon> &nbsp;ajouter</button>

        <ion-row class="boutonrow">
          <ion-col col-6>
            <button ion-button color="secondary" full (click)="slidePrev()">Précédent</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full (click)="submitForm(2)">{{traitement.zones && traitement.zones.length>0 ? 'Valider' : 'Passer'}}</button>
          </ion-col>
        </ion-row>
      </ion-slide>

      <!-- TROISIEME PARTIE DU FORMULAIRE - PROCHAINE DATE ET ZONE -->
      <ion-slide id="part3">
        <h2 class="first">Prochaine prise</h2>
        <ion-item id="item_date">
          <ion-label>Date</ion-label>
          <ion-datetime [min]="today" max="3000-12-31" displayFormat="DD/MM/YYYY" [(ngModel)]="traitement.start_date"></ion-datetime>
        </ion-item>
        <ion-item id="item_zone"  *ngIf="traitement.zones != null && traitement.zones.length >1">
          <ion-label>Zone</ion-label>
          <ion-select [(ngModel)]="traitement.next_zone" >
            <ion-option *ngFor="let zone of traitement.zones" [value]="zone" >{{zone.nom}} {{zone.cote ? zone.cote : ''}}{{zone.cote=="droit" ? '(e)' : ''}}</ion-option> <!--[(ngModel)]="traitement.next_zone"-->
          </ion-select>
        </ion-item>
        <small class="error" *ngIf="!traitement.start_date && submit">Veuillez choisir une date</small>
        <ion-row class="boutonrow btndate">
          <ion-col col-6>
            <button ion-button color="secondary" full (click)="slidePrev()">Précédent</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full (click)="submitForm(3)">Suivant</button>
          </ion-col>
        </ion-row>
      </ion-slide>

      <!-- QUATRIEME PARTIE DU FORMULAIRE - RAPPELS -->
      <ion-slide id="part4">
        <h2 class="first">Rappels</h2>
        <p *ngIf="!traitement.rappels || traitement.rappels.length<=0">
          <small>Entrez les rappels par notification que vous souhaitez recevoir pour ce traitement.</small>
          <br/>
          <small>Vous pourrez modifier cette liste par la suite.</small>
        </p>
        <!-- LISTE DES RAPPELS -->
        <ion-list *ngIf="traitement.rappels && traitement.rappels.length>0">
          <ion-list-header>
            Rappels enregistrés
          </ion-list-header>
          <ion-item *ngFor="let rappel of traitement.rappels">
            {{rappel.nb_jours}} jours avant &agrave; {{rappel.heure}}{{rappel.minute}}
            <ion-icon name="trash" color="danger" item-right (click)="deleteRappel(rappel)"></ion-icon>
          </ion-item>
        </ion-list>

        <!-- AJOUTER UN RAPPEL -->
        <ion-row class="ajout_rappel" justify-content-center>
          <ion-col col-3>
            <ion-item>
              <ion-input [(ngModel)]="newRappel.nb_jours" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-9>
            <ion-label>jours avant la prise</ion-label>
          </ion-col>
          <ion-col col-12>
            <small class="error" *ngIf="!newRappel.nb_jours && submit">Veuillez entrer un nombre</small>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-1>
            <ion-label>&Agrave; </ion-label>
          </ion-col>
          <ion-col col-5>
            <ion-item>
              <ion-datetime displayFormat="HH:mm" [(ngModel)]="newRappel.heure"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <small class="error" *ngIf="!newRappel.heure && submit">Veuillez entrer une heure</small>
        </ion-row>
        <button ion-button round (click)="addRappel()" id="add_button" class="last">
          <ion-icon name="add"></ion-icon> &nbsp;ajouter</button>

        <ion-row class="boutonrow">
          <ion-col col-6>
            <button ion-button color="secondary" full (click)="slidePrev()">Précédent</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full (click)="submitForm(4)">{{traitement.rappels && traitement.rappels.length>0 ? 'Valider' : 'Passer'}}</button>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>