page-liste-traitements {
    text-align: center;
    .date {
        color:gray;
        font-weight: 400;
        padding-bottom:10px;
    }
    ion-card {
        button {
            margin-bottom:0!important;
        }
    }
}
