<ion-header>
  <ion-navbar>
    <ion-title>
      Trans Agenda
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true" padding>
  <ion-list>
    <ion-card *ngFor="let traitement of traitements">
      <h2 class="titre" (click)="openDetails(traitement)" text-center>{{traitement.produit}} &nbsp;&nbsp;&nbsp;<ion-icon name="ios-arrow-forward"></ion-icon></h2>
      <br>
      <div class="date" (click)="openDetails(traitement)" text-center>Prochaine prise : {{traitement.next_date}}</div>
      <div class="nextZone" (click)="openDetails(traitement)" *ngIf="traitement.next_zone" text-center>Zone : {{fonctionCommunes.printZone(traitement.next_zone)}}</div>
      <button ion-button (click)="updateTraitement(traitement)">J'ai pris mon traitement !</button>
    </ion-card>
  </ion-list>
  <button ion-button (click)='new()'>Nouveau</button>
</ion-content>

<ion-footer>
  <menu-footer>
  </menu-footer>
</ion-footer>